@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');


body {
    margin: 0 auto;
    height: 100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Berkshire Swash', cursive;
    background-color: rgba(247, 241, 218, .6);
    color: #3d3d3a;

}

header {
    font-size:2.5em;
    text-align: center;
    padding: 30px;

}



#display {
    
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 10px;
    border:solid rgba(96, 97, 99, 0.6);
    margin-bottom: 20px;
    border-radius: 20px;
    background-color: rgba(96, 97, 99, 0.2);
}

.drum-pad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


button {
    margin:15px;
    padding: 40px;
    font-family: inherit;
    font-size: 2em;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 5px 5px rgba(227, 222, 224, .5);
    color:inherit;
}

button:hover{
   cursor: pointer;
}

#Q {
    background-color: rgba(240, 79, 79,.6);
}

#W {
    background-color: rgba(237, 138, 66, .6);
}

#E {
    background-color: rgba(237, 233, 100, .6);
}

#A {
    background-color: rgba(237, 233, 100, .6);
}

#S {
    background-color: rgba(155, 232, 84, .6);
}

#D {
    background-color: rgba(108, 161, 240, .6);
}
#Z {
    background-color: rgba(168, 110, 235, .6);
}
#X {
    background-color: rgba(235, 136, 230, .6);
}
#C {
    background-color: rgba(235, 136, 177, .6);
}


footer {
    padding-top: 10px;
}

